# ~/.atom/keymap.cson

# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# this file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson


'body':
  'ctrl-shift-up': 'window:toggle-dev-tools'
  'ctrl-k up': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
'atom-workspace atom-text-editor':
  'ctrl-shift-j': 'editor:move-to-beginning-of-word'
  'ctrl-shift-l': 'editor:move-to-end-of-word'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-shift-i': 'native!',
  'ctrl-shift-down': 'window:toggle-dev-tools',
'atom-text-editor:not([mini])':
  # navigation
  'ctrl-i': 'core:move-up'
  'ctrl-k': 'core:move-down'
  'ctrl-j': 'core:move-left'
  'ctrl-l': 'core:move-right'
  'ctrl-shift-h': 'editor:move-to-first-character-of-line'
  'ctrl-shift-;': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-k': 'native!'
  'ctrl-shift-down': 'editor:delete-line'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-left': 'editor:join-lines'
  'ctrl-right': 'editor:select-line'
  'ctrl-down up': 'pane:split-up-and-copy-active-item'
  'ctrl-down down': 'pane:split-down-and-copy-active-item'
  'ctrl-down left': 'pane:split-left-and-copy-active-item'
  'ctrl-down right': 'pane:split-right-and-copy-active-item'
  'ctrl-down ctrl-w': 'pane:close'
  'ctrl-down ctrl-alt-w': 'pane:close-other-items'
  'ctrl-down ctrl-p': 'window:focus-previous-pane'
  'ctrl-down ctrl-n': 'window:focus-next-pane'
  'ctrl-down ctrl-up': 'window:focus-pane-above'
  'ctrl-down ctrl-down': 'window:focus-pane-below'
  'ctrl-down ctrl-left': 'window:focus-pane-on-left'
  'ctrl-down ctrl-right': 'window:focus-pane-on-right'
  'ctrl-down ctrl-u': 'editor:upper-case'
  'ctrl-down ctrl-l': 'editor:lower-case'
  'ctrl-down ctrl-0': 'editor:unfold-all'
  'ctrl-down ctrl-1': 'editor:fold-at-indent-level-1'
  'ctrl-down ctrl-2': 'editor:fold-at-indent-level-2'
  'ctrl-down ctrl-3': 'editor:fold-at-indent-level-3'
  'ctrl-down ctrl-4': 'editor:fold-at-indent-level-4'
  'ctrl-down ctrl-5': 'editor:fold-at-indent-level-5'
  'ctrl-down ctrl-6': 'editor:fold-at-indent-level-6'
  'ctrl-down ctrl-7': 'editor:fold-at-indent-level-7'
  'ctrl-down ctrl-8': 'editor:fold-at-indent-level-8'
  'ctrl-down ctrl-9': 'editor:fold-at-indent-level-9'
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-k ctrl-d': 'unset!'
  'ctrl-down ctrl-d': 'find-and-replace:select-skip'
'.platform-win32, .platform-linux':
  'ctrl-k ctrl-b': 'unset!'
  'ctrl-down ctrl-b': 'tree-view:toggle'
